main{
    min-height: 100vh;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    .form-container{
        height: fit-content;
        min-width: 400px;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        
        h1{
            text-align: center;
        }

        form{
            display: flex;
            flex-direction: column;
            gap: 1.5rem;

            input,button{
               padding: 1rem 1.5rem;
               border-radius: 10px;
               outline: none;
               border: none;
               font-size: 0.9rem;
               font-weight: 600;
            }

            button{
                color: rgb(196, 196, 196);
                background-color: rgb(165, 0, 0);
                font-weight: 600;
                font-size: 1rem;
                cursor: pointer;
            }
            
            button:active{
                scale: 0.96;
            }
        }
    }
}