*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,body,#root{
  height: 100%;
  width: 100%;
}
#root{
  background-color: black;
}
input{
  padding: 10px 40px;
  margin: 5px;
  border: 2px solid red;
  border-radius: 10px;
  font-size: 14px;
  font-weight: 600;
  outline: none;

}
form{
  display: flex;
  gap: 10px;
  padding: 10px;
}
button{
  padding: 7px 40px;
  background-color: red;
  outline: none;
  border: none;
  font-size: 14px;
  color: white;
  border-radius: 10px;
  cursor: pointer;
}
