*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,body,#root{
    height: 100%;
    width: 100%;
}

html{
    background-color: #000000;
}
.card{
    padding: 10px 20px;
    height: 300px;
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    border: 2px solid white;
    border-radius: 10px;
}