*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,body,#root{
    height: 100%;
    width: 100%;
}

html{
    background-color: #000000;
}
.card{
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    border: 2px solid white;
    border-radius: 10px;
}
.container{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    color: white;
    padding: 10px;
}
.wrapper{
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}
form{
    display: flex;
    gap: 2rem;
    
}
input{
    padding: 10px 30px;
    border: 2px solid red;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: 600;
    outline: none;
}
button{
    padding: 10px 40px;
    background-color: rgb(194, 0, 0);
    border-radius: 10px;
    color: white;
    outline: none;
    cursor: pointer;
    border: none;
}